<ion-side-menus>
    <ion-side-menu-content>
        <ion-header-bar class="bar-dark">
            <button class="button button-icon" ng-click="toggleProjects()">
                <i class="icon ion-navicon"></i>
            </button>

            <h1 class="title">{{ activeProject.title }}</h1>

            <button class="button button-icon" ng-click="newTask()">
                <i class="button-icon ion-compose"></i>
            </button>
        </ion-header-bar>

        <!-- Our list and list items -->
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="task in activeProject.tasks">
                    {{ task.priority }}. {{ task.title }}
                    <ion-option-button class="button-assertive" ng-click="removeTask(task)">remove</ion-option-button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Projects</h1>
            <button class="button button-icon ion-plus" ng-click="newProject()"></button>
        </ion-header-bar>
        <ion-content scroll="false">
            <ion-list>
                <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)"
                          ng-class="{active: activeProject == project}">
                    {{ project.title }}
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>